:root{
    --dark-shades-color: rgb(32, 32, 32);
    --dark-accent-color: rgb(46, 46, 46);
    --light-shades-color: rgb(198, 196, 196);
    --light-accent-color: rgb(134, 134, 134);
}

.dark {
    background-color: var(--dark-shades-color);
    color: var(--light-shades-color);
}

.dark .panel {
    border-color: var(--light-accent-color);
    /* background-color: var(--dark-accent-color); */
}

.dark .button {
    background-color: var(--dark-shades-color);
    border-color: var(--light-shades-color) !important;
    color: var(--light-shades-color) !important
}

.dark .button:disabled {
    border-color: var(--light-accent-color) !important;
    color: var(--light-accent-color) !important
}

.header-row{
    background-color:  var(--light-accent-color);
    color:  var(--dark-accent-color);
}

.modal-content {
    background-color: var(--dark-shades-color);
}