:root {
    /* https://piktochart.com/tips/minimalist-color-palette */
    /* Urban Chic*/
    --color-1: #e0e0e0;
    --color-2: #bdbdbd;
    --color-3: #9e9e9e;
    --color-4: #757575;
    --color-5: #424242;
}